nav {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding-left: 5px;
    padding-right: 5px;
}

nav ul {
    display: flex;
    gap: 5px;
}

nav ul li {
    list-style-type: none;
    padding-left: 5px;
}

nav ul li:not(:first-child) {
    border-left: 1px solid black;
}

nav span {
    font-family: sans-serif;
    align-self: center;
    font-family: "Dancing Script", cursive;
    font-size: larger;
    font-weight: 700;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    color: rgb(90, 247, 220);
}