body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.spacer {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/* Remove once portfolio is complete - start */
#temp-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: yellow;
  width: 100%;
  justify-content: center;
}

#temp-footer span {
  align-self: center;
  justify-self: center;
  font-size: xx-large;
}
/* Remove once portfolio is complete - end */